@import "modules/reset";
@import "modules/fonts";
@import "modules/variable";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat";
  font-weight: 400;
  color: $black;
  font-size: 16px;
}
h1 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  @media only screen and (min-width: 415px) {
    font-size: 24px;
  }
}

.error {
  color: $site-color;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 80%;
}
